.about .title
{
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.about
{
    margin-top: 50px;
}

.aboutPic
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    position: absolute;
    left: 0%;
    right: 0%;

}

.inverted
{
    filter: invert(100%);
}



.aboutPic img
{
    width: 50vw;
    min-width: 250px;
    max-width: 300px;
    transition-duration: 0.5s;
    filter: invert(0%);
}

.aboutContent
{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    /* background-color: black; */
}

.aboutContentContainerContainer
{
    display: flex;
    /* background-color: pink; */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    position: relative;
}

.aboutContentContainer
{
    display: flex;
    /* background-color: blue; */
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
}

.aboutContent p
{
    text-align: start;
    max-width: 550px;
    line-height: 1.2;
    font-size: 20px;
}

.aboutContent .highlight
{
    font-weight: 600;
    font-size: 30px;
}

.about .spacerAbout
{
    height: 65vh;
    min-height: 250px;
    max-height: 450px; ;
}
