.header
{
    display: flex;
    padding: 20px;
    /* background-color: black; */
    justify-content: space-between;
    align-items: center;
}

.sideNav
{
    position: absolute;
    right: 0%;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color:#171628;
    height: 100vh;
    width: 0; 
    overflow-x: hidden; 
    transition: 0.5s;
}

.sideHeader
{
    display: flex;
    padding: 20px;
    /* background-color: rgb(196, 110, 110); */
    justify-content: space-between;
    align-items: center;
}


.sideHeader a
{
    text-decoration: none;
    color: #e0e0e0;
    line-height: 0.8;
}

.sideHeader .left
{
    font-weight: 600;
    font-size: 20px;
}

.sideContent
{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: right;
    /* align-items: center; */
    flex-direction: column;
}


.sideContent a
{
    text-decoration: none;
    color: #e0e0e0;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.sideContent .activeLink
{
    text-decoration: line-through;
}

.sideNav .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 70px;
  margin-left: 50px;
}

.header a
{
    text-decoration: none;
    color: #e0e0e0;
}

.header .left
{
    font-weight: 600;
    font-size: 20px;
}

.header .right a
{
    margin-left: 20px;
}

@media (hover: hover) {
    .header a:hover
    {
        color: #fff;
    }
}

.header .right img
{
    margin-left: 20px;
    display: none;
}

@media screen and (max-width: 768px){
   .header .right img
    {
        display: block;
    } 
    .header .right a
    {
        display: none;
    }

    .header
    {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
    }
}