html, body
{
    overflow-x: hidden;
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    scroll-behavior: smooth;
}

body
{
    background-color: #5449E8;
    transition-duration: 0.2s;
}



.cursor1
{
    position: fixed;
    z-index: -2;
    top: 0px;
    transition-duration: 4500ms;
    transform: translate(-50%,-50%);
    transition-timing-function: ease-out;
}

.cursor3
{
    position: fixed;
    z-index: -3;
    top: 0px;
    transition-duration: 4500ms;
    transform: translate(-50%,-50%);
    transition-timing-function: ease-out;
}

.cursor2
{
    position: fixed;
    z-index: 1;
    transition-duration: 1500ms;
    
    transition-timing-function: ease-out;
    pointer-events: none;
}

.bag-black {
  background-color: #121212;
}
